<link href="bower_components/polymer/polymer.html" rel="import">
<polymer-element name="my-component">
    <template>
        <h1>DEU CERTO! Meu package/component versionado!</h1>
        <ul id="V3-temLista">
            <li>Versão 1</li>
            <li>Versão 2</li>
            <li>Versão 3</li>
            <li>Versão 4</li>
        </ul>
        <p>Tentar encapsular o my-component.html</p>
    </template>
    <script>
        Polymer({
           ready: function(){
               console.log("testando: component");
           }
        });
    </script>
</polymer-element>